.heading {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 6px;
}

.sub {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 24px;
}

.input {
  width: 100%;
  padding: 14px;
  border-radius: 14px;
  border: 1px solid #e5e7eb;
  margin-bottom: 14px;
  font-size: 14px;
}

.button {
  width: 100%;
  background: #166534;
  color: white;
  padding: 14px;
  border-radius: 14px;
  border: none;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.footer {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

.link {
  color: #166534;
  cursor: pointer;
  font-weight: 500;
}
