@import "tailwindcss";
/* Grid-style map background */
/* ================================
   FORCE GRID MAP (FINAL FIX)
   ================================ */

.leaflet-pane.leaflet-map-pane {
  background-color: #f4f1ec !important;
  background-image:
    linear-gradient(
      to right,
      rgba(120, 113, 108, 0.35) 1px,
      transparent 1px
    ),
    linear-gradient(
      to bottom,
      rgba(120, 113, 108, 0.35) 1px,
      transparent 1px
    );
  background-size: 24px 24px !important;
}

.leaflet-tile-pane {
  display: none !important;
}
/* WhatsApp-style scrollbar hiding */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}
